<% include header %>
<% include navigation %>
<form class="form">
<br><label>Naam:</label>
<br><input></input>
<br><label>Voornaam:</label>
<br><input></input>
<br><label>Email:</label>
<br><input placeholder="example@treehouse.com"></input>
<br><label>I you have a question or remark please let us know down below:</label>
<br><textarea rows="4" cols="50"></textarea>
<label>We love to see your answers!</label>
<br><input type="submit" value="Submit">
</form>
<%include footer %>
