<% include header %>


<p><%-parken.attributes.NAAM %></p>
<p><%-parken.attributes.BEHEERDER %></p>
<p><%-parken.attributes.STRAATNAAM %></p>
<p><%-parken.attributes.TYPE %></p>

<% include footer %>
