<% include header %>
<% include LOGO %>
<p class="welkom">Ben je het binnenzitten beu? Heb je nood aan een frisse neus? Wil je de benen even strekken in het groen? Dan zit je bij TRE(AT) ME goed! Als je op Go! klinkt kan je op onze interactieve kaart alle parken in en rond Antwerpen bekijken. Als je op een park duwt kan je nog wat meer informatie zien over het park. Ik hoop dat je deugd hebt aan je wandeling!</p>
<button class="button"><a href="/parken">GO!</a></button>
<% include footer %>
