<% include header %>
        <% include navigation %>
        <h1>Parken in Antwerpen</h1>

        <div id="map"></div>

        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
        
        <script>
            <% for(var i=0; i < parken.length; i++) { %>

              var greenIcon = L.icon({
                  iconUrl: 'images/Marker-01.png',
                  shadowUrl: 'images/Marker-02.png',

                    iconSize:     [25, 30], // size of the icon
                    shadowSize:   [25, 30], // size of the shadow
                    iconAnchor:   [12, 30], // point of the icon which will correspond to marker's location
                    shadowAnchor: [0, 30],  // the same for the shadow
                    popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
                    });
                L.marker([<%-parken[i].geometry.rings[0][0][1]%>, <%-parken[i].geometry.rings[0][0][0] %>], {icon: greenIcon}).addTo(map)
                  .bindPopup("<a class='link' href='/parken/<%=i %>'><h2><%-parken[i].attributes.NAAM %></h2></a>");

                  var geojsonFeature = {
                    "type" : "Feature",
                    "properties": {
                      "name": "Coors Field",
                      "amenity": "Baseball Stadium",
                      "popupContent": "This is where the Rockies play!"
                      },
                    "geometry":{
                      "type" : "Polygon",
                      "coordinates" : [[
                      [51.203899,4.407423],
                      [51.204717,4.409854],
                      [51.205748,4.407887],
                      [51.203575,4.409279],
                      [51.203899,4.407423]
                      ]]
                    }

                  };
                      L.geoJSON(geojsonFeature).addTo(map);




            <% } %>

        </script>
<% include footer %>
